<ng-container *ngIf="movieItemData">
  <a class="item" [routerLink]="'/movie/' + movieItemData.id">
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ movieItemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + movieItemData.poster_path" [alt]="movieItemData.title" />
    </div>
    <div class="item-title">{{ movieItemData.title }}</div>
  </a>
</ng-container>

<ng-container *ngIf="tvShowItemData">
  <a class="item" [routerLink]="'/tv/' + tvShowItemData.id">
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ tvShowItemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + tvShowItemData.poster_path" [alt]="tvShowItemData.name" />
    </div>
    <div class="item-title">{{ tvShowItemData.name }}</div>
  </a>
</ng-container>