
<!-- MOVIE BANNER -->
<ng-container *ngIf="movieItemData">
  <a class="item" [routerLink]="'/movie/' + movieItemData.id">
    <ng-container *ngIf="isSpinner">
      <mat-spinner></mat-spinner>
    </ng-container>
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ movieItemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + movieItemData.poster_path" [alt]="movieItemData.title" (load)="disableSpinner()"/>
    </div>
    <div class="item-title">{{ movieItemData.title }}</div>
  </a>
</ng-container>


<!-- TV BANNER -->
<ng-container *ngIf="tvShowItemData">
  <a class="item" [routerLink]="'/tv/' + tvShowItemData.id">
    <ng-container *ngIf="isSpinner">
      <mat-spinner></mat-spinner>
    </ng-container>
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ tvShowItemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + tvShowItemData.poster_path" [alt]="tvShowItemData.name" (load)="disableSpinner()"/>
    </div>
    <div class="item-title">{{ tvShowItemData.name }}</div>
  </a>
</ng-container>

<!-- PERSON BANNER -->
<ng-container *ngIf="personItemData">
  <a class="item" [routerLink]="'/person/' + personItemData.id">
    <ng-container *ngIf="isSpinner">
      <mat-spinner></mat-spinner>
    </ng-container>
    <div class="item-rating">
      <i class="app-icon">star</i>
      Popularity / <span>{{ personItemData.popularity }}</span>
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + personItemData.profile_path" [alt]="personItemData.name" (load)="disableSpinner()"/>
    </div>
    <div class="item-title">{{ personItemData.name }}</div>
  </a>
</ng-container>


