<ng-container *ngIf="movieItemData">
  <a class="item" [routerLink]="'/movie/'+movieItemData.id">
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ movieItemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + movieItemData.poster_path" [alt]="movieItemData.title" />
    </div>
    <div class="item-title">{{ movieItemData.title }}</div>
  </a>
</ng-container>

<ng-container *ngIf="tvShowitemData">
  <a class="item" [routerLink]="'/tv/'+tvShowitemData.id">
    <div class="item-rating">
      <i class="app-icon">star</i>
      <span>{{ tvShowitemData.vote_average }}</span>/10
    </div>
    <div class="item-image">
      <img [src]="imagesSizes.medium + tvShowitemData.poster_path" [alt]="tvShowitemData.name" />
    </div>
    <div class="item-title">{{ tvShowitemData.name }}</div>
  </a>
</ng-container>