<div class="slider">
  <div class="slide">
    <div class="slide-bg">
      <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/5GA3vV1aWWHTSDO5eno8V5zDo8r.jpg" alt="">
    </div>
    <div class="slide-pane">
      <h2 class="name">Orphan: First Kill</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span>star</span>
            <span class="rating-value">7.5</span>
            <span>/10</span>
            <span>463 Reviews</span>
            <span>2022</span>
          </span>
        </div>
      </div>
      <div class="desc">
        After escaping from an Estonian psychiatric facility, Leena Klammer travels to America by impersonating Esther,
        the missing daughter of a wealthy family. But when her mask starts to slip, she is put against a mother who will
        protect her family from the murderous “child” at any cost.
      </div>
    </div>
  </div>
</div>