<app-slider [items]="popularMovies"></app-slider>

<app-items-banner [movieItems]="upcomingMovies" movieTitle="Upcoming Movies"></app-items-banner>
<app-items-banner [movieItems]="popularMovies" movieTitle="Popular Movies"></app-items-banner>
<app-items-banner [movieItems]="topRatedMovies" movieTitle="Top Rated Movies"></app-items-banner>

<app-items-banner [tvShowItems]="popularTvShows" tvTitle="Popular TV Shows"></app-items-banner>
<app-items-banner [tvShowItems]="topRatedTvShows" tvTitle="Top Rated TV Shows"></app-items-banner>