<div class="container">
  <h2 *ngIf="movieTitle" class="movie-title">{{movieTitle}}</h2>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-2" *ngFor="let movieItem of movieItems">
      <app-item [movieItemData]="movieItem"></app-item>
    </div>
  </div>

  <h2 *ngIf="tvTitle" class="tv-title">{{tvTitle}}</h2>
  <div class="grid">
    <div class="col-6 md:col-3 lg:col-2" *ngFor="let tvShowitem of tvShowitems">
      <app-item [tvShowitemData]="tvShowitem"></app-item>
    </div>
  </div>
</div>
